@import url(http://fonts.googleapis.com/css?family=Montserrat:400);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Lora:400);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400);

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: #F2F2F2;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #385D86;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}

blockquote {
  border-left: 5px solid #91ADB0;
  font-size: 14px;
  font-style: italic;
  margin: 10px 0px 10px 15px;
  padding: 0px 0px 0px 10px;
}

/* Page Structure */
#page-wrapper {
  margin: 0 auto;
  padding: 10px;
  width: 800px;
}

/* Page Header */
#header {
  margin-bottom: 20px;
  text-align: center;
}

.description {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Navigation */
#navigation {
  margin: 0px;
  padding: 0px;
}

#navigation li {
  display: inline-block;
  list-style-type: none;
}

#navigation li a {
  color: #91ADB0;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  margin: 0px 20px;
}

#navigation li.active a {
  color: #5F889C;
}

.hidden_helper {
  display: none;
}


/* =====================================
              FONT STYLES 
   ===================================== */


h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  padding: 10px 0px 0px 0px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
}

.mont-header-dark {
  color: #666666;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
}

.mont-header-blue {
  color: #385D86;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: normal;
}

.content {
  color: #666666;
  font-family: arial, tahoma;
  font-size: 12px;
  font-weight: normal;
}

.lora-snippet {
  color: #666666;
  font-family: "Lora";
  font-size: 14px;
  font-weight: normal;
}

.ital-text {
  color: #999999;
  font-family: arial, tahoma;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
}

.small {
  font-size: 12px;
}

.header {
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 34px;
  margin: 0px;
  padding: 0px;
  text-shadow: 1px 1px 0px #3c6794;
  text-transform: uppercase;
}


/* =====================================
              FIXED HEADER 
   ===================================== */

.fixed-header {
  background: #F2F2F2;
  border-bottom: 1px solid #CCC;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.1)
}

.header-inner {
  height: 30px;
  margin: 0 auto;
  padding: 0px 10px;
  width: 800px;
}

.logo {
  display: inline-block;
  float: left;
  height: 25px;
  padding: 5px 8px 0px 8px;
  vertical-align: top;
}

.current-page {
  border-left: 1px solid #95A7BC;
  border-right: 1px solid #95A7BC;
  display: inline-block;
  position: relative;
  width: 500px;
}

.page-title {
  left: 5px;
  position: absolute;
  top: 5px;
}


.fixed-nav {
  display: inline-block;
  float: right;
  height: 25px;
  padding: 5px 5px 0px 5px;
  vertical-align: top;
  width: 190px;
}

.fixed-nav a {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: normal;
  margin: 0px 5px; 
}

.bar {
  background-color: #C0CDDB;
  height: 30px;
  opacity: 0.3;
  width: 0px;
}


/* =====================================
            LOADING SPINNER 
   ===================================== */


.loading-spinner {
  margin: 100px auto 0;
  opacity: 0.5;
  text-align: center;
  width: 70px;
}

.loading-spinner > div {
  background-color: #385D86;
  border-radius: 100%;
  display: inline-block;
  height: 18px;
  width: 18px;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.loading-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loading-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
