
/* =====================================
                  BLOG 
   ===================================== */

.post-container {
  display: inline-block;
  margin-top: 16px;
  width: 620px;
}

.post {
  margin: 0 auto;
  width: 710px;
}

.blog-content {
  margin: 16px 0px;
}

/* Date Stuff */
.date-object {
  background: #F2F2F2;
  display: inline-block;
  height: 76px;
  margin-right: 10px;
  position: relative;
  vertical-align: top;
  width: 76px;
}

.date-ring {
  background: #8EA8C5;
  border-radius: 50px;
  height: 76px;
  opacity: 0.5;
  width: 76px;
}

.date-clear {
  background: #F2F2F0;
  border-radius: 50px;
  height: 68px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 68px;
}

.date-object-inner {
  background: #385D86;
  border-radius: 50px;
  color: #FFF;
  font-family: arial, tahoma;
  height: 60px;
  left: 8px;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 60px;
}

.date {
  font-family: arial, tahoma;
  font-size: 20px;
  height: 18px;
  left: 8px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 60px;
}

.mont {
  font-family: arial, tahoma;
  font-size: 10px;
  height: 13px;
  left: 8px;
  position: absolute;
  text-align: center;
  top: 32px;
  width: 60px;


}

.year {
  font-family: arial, tahoma;
  font-size: 12px;
  left: 8px;
  position: absolute;
  text-align: center;
  top: 45px;
  width: 60px;
}
