
/* =====================================
                  BLOG 
   ===================================== */

.post-container {
  display: inline-block;
  margin-top: 16px;
  width: 620px;
}

.post {
  margin: 0 auto;
  width: 710px;
}

.blog-content {
  margin: 16px 0px;
}

/* Date Stuff */
.date-object {
  background: #F2F2F2;
  display: inline-block;
  height: 76px;
  margin-right: 10px;
  position: relative;
  vertical-align: top;
  width: 76px;
}

.date-ring {
  background: #8EA8C5;
  border-radius: 50px;
  height: 76px;
  opacity: 0.5;
  width: 76px;
}

.date-clear {
  background: #F2F2F0;
  border-radius: 50px;
  height: 68px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 68px;
}

.date-object-inner {
  background: #385D86;
  border-radius: 50px;
  color: #FFF;
  font-family: arial, tahoma;
  height: 60px;
  left: 8px;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 60px;
}

.date {
  font-family: arial, tahoma;
  font-size: 20px;
  height: 18px;
  left: 8px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 60px;
}

.mont {
  font-family: arial, tahoma;
  font-size: 10px;
  height: 13px;
  left: 8px;
  position: absolute;
  text-align: center;
  top: 32px;
  width: 60px;


}

.year {
  font-family: arial, tahoma;
  font-size: 12px;
  left: 8px;
  position: absolute;
  text-align: center;
  top: 45px;
  width: 60px;
}

/* =====================================
              IMAGE SLIDER   
   ===================================== */

.nav {
  margin-bottom: 5px;
}

.slider {
  margin: 20px auto;
  display: block;
  position: relative;
  width: 800px;
  height: 450px;
}

.slider.pretty_okc1   { height: 500px; width: 620px; }
.slider.pretty_okc2   { height: 545px; width: 620px; }
.slider.slide_kate    { height: 685px; width: 500px; }
.slider.slide_keenan  { height: 450px; width: 680px; }

.slider.pretty_okc1 .slide img,
.slider.pretty_okc2 .slide img {
  width: 620px;
}

.focused_project .slider {
  margin-top: 0px;
}

.slider-nav {
  font-weight: normal;
  font-size: 12px;
  margin: 0px 5px;
}

.slider-nav.prev {
  margin-left: 0px;
}

.slider .dot {
  background: #8EA8C5;
  border-radius: 10px;
  display: inline-block;
  height: 8px;
  margin: 6px 3px 0px 3px;
  opacity: 0.5;
  vertical-align: top;
  width: 8px;
}

.slider .dot.current {
  background: #385D86;  
}

.slide {
  position: absolute;
  top:20px;
  left:0;
  box-shadow: 0px 0px 15px #999;
}

.slide-description {
  background: #FFF;
  font-family: "Montserrat";
  font-size: 12px;
  padding: 5px;
}

/* Animations */
.slide.ng-hide-add, .slide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}
 
.slide.ng-hide-add.ng-hide-add-active,.slide.ng-hide-remove {
  opacity:0;
}
 
.slide.ng-hide-add,.slide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

