/* =====================================
                PROJECTS 
   ===================================== */

.portfolio {
  padding-top: 20px;
  text-align: center;
}


.portfolio-item {
  margin-bottom: 30px;
  position: relative;
}

.portfolio-circle {
  border-radius: 150px;
  display: inline-block;
  height: 200px;
  margin: 0px 15px;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.portfolio-outer {
  background: #8EA8C5;
  height: 200px;
  opacity: 0.5;
  position: relative;
  width: 200px;
}

.portfolio-inner {
  background: #385D86;
  border-radius: 150px;
  height: 180px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  width: 180px;
}

.portfolio-image {
  height: 180px;
  position: absolute;
  width: 180px;
}

.portfolio-link {
  display: block;
  height: 180px;
  position: relative;
  width: 180px;
}

.portfolio-image img {
  height: 180px;
  position: absolute;
}

img.keenan  { left:    0px; }
img.chummer { left:    0px; }
img.tree    { right: -14px; }
img.kate    { left: -128px; }

.portfolio-snippet {
  display: inline-block;
  margin: 50px 0px 0px 20px;
  text-align: left;
  vertical-align: top;
  width: 400px;
}

/* =====================================
              PROJECT DETAIL
   ===================================== */

.project {
  margin: 0 auto;
  width: 620px;
}

.small {
  display: inline-block;
  margin-top: 20px;
}
