<link href="css/blog.css" rel="stylesheet" type="text/css" media="screen" />

<div id="content" ng-controller="blogDetailsCtrl">
	<div class="loading-spinner" ng-show="loading">
	  <div class="bounce1"></div>
	  <div class="bounce2"></div>
	  <div class="bounce3"></div>
	</div>
	<div class="post" ng-if="blogReady">
    <div class='date-object'>
	    <div class="date-ring"></div>
	    <div class="date-clear"></div>
    	<div class='date-object-inner'></div>
 	    <div class="date">{{post.created_at | date : 'dd'}}</div>
			<div class="mont">{{post.created_at | date : 'MMMM'}}</div>    	
			<div class="year">{{post.created_at | date : 'yyyy'}}</div>
		</div>

		<div class="post-container">
			<a href='#/blog/{{ post.id }}' class="mont-header-blue" ng-bind="post.title"></a>
			<div class="content" ng-init="trigger_directives()">
				<div class="blog-content" ng-bind-html="post.body_part_1"></div>
				<div class="blog-content" ng-bind-html="post.body_part_2"></div>
				<div slider images="post.image_id_1" ng-if="post.image_id_1 !== ''"></div>
				<div class="blog-content" ng-bind-html="post.body_part_3"></div>
				<div slider images="post.image_id_2" ng-if="post.image_id_2 !== ''"></div>
				<div class="blog-content" ng-bind-html="post.body_part_4"></div>	
				<div slider images="post.image_id_3" ng-if="post.image_id_3 !== ''"></div>
				<div class="blog-content" ng-bind-html="post.body_part_5"></div>
		  </div>
	  </div>
	</div>
</div>
