<div id="content" class="home" ng-controller="homeCtrl">
	<div class="mont-header-dark">Welcome</div>
	<div class="donut">
		<div id="doughnutChart" class="chart"></div>
		<div class="inner-circle"></div>
	</div>

	<div class="content thin">
		<p>My name is Michael Pelletier and I am a web developer. More than just writing beautiful and functional code, I am interested in the <i>ideas</i> behind what makes great design and memorable experiences.</p>
		<p>	A diverse background has given me insight into the importance of communication, and I've come to understand how using websites or applications are very much a dialogue between the user and the program.</p>
		<p>With that idea firmly planted in my mind, I strive to improve my skills and increase my knowledge for the purposes of building websites which are attractive, straightforward, and enjoyable to use.</p>
	</div>

	<div class="content">
		<p>I can be reached via email (<a href="mailto:michael@mpelletier.net">michael@mpelletier.net</a>) or phone (978-866-9605), and am always willing and eager to discuss new ideas and possibilities.</p>
		<p></p>
		<p>Michael Pelletier</p>
	</div>
</div>
