<div id="content" ng:controller="homeCtrl">
	<h2>Welcome, Mr/Ms/Mrs. X from RoosterTeeth</h2>
	<p>I had in mind that I would email you a cover letter, and my resume, and then link you to my portfolio, but I realised rather quickly that I could just keep everything in one place. You see, I've put this entire page online in the course of about 3 days simply for you. The truth is that I've been very happy with my current job, and there are not a lot of things that could stand to pry me away from it. The opportunity of working for you would be one of them.</p>

	<p>It was actually my intent to approach you soon, regardless of your posting. With RT's 11 year anniversary occurring recently and the company's popularity only growing, I was surprised when I looked at the code of the AH website a few months ago to see that it looked somewhat dated. As a company that creates video content, it seems to me that your goal should be getting into the hands of people quickly and easily (Kudos on RvB being on Netflix, by the way), and in some ways I believe that your sites are holding you back.</p>

	<p>That's not to say that they aren't still <i>good</i>, just that they can be more than they are currently. As a fan, I am hoping that your job posting from you means that you'll be working towards that in the future, and as a web developer, I am hoping that I can be a part of it.</p>

	<p>I have been working in Web Development full time for about 5 years. I currently work for two development teams within one company - one team is 9 developers here in Boston, and the other is another 7 developers in Medellin, Colombia. I'm the Lead UX Developer for the Colombian office, and one of two UX Developers in Boston. As I telecommute with my team, all of our communication takes place over Skype.</p>

	<p>The company I'm working for is in educational publishing, creating textbooks for italian, german, french, and spanish. The behemoth web application that we're building is so that we can offer online courses that are interactive and effective for learning.</p>

	<p>To give you a brief idea of what things are like there - we have an Agile development where we do two-week long iterations. We have specs and user stories to drive our features. The code we write is tested (rSpec on the backend, Jasmine on the Javascript), and we use some heavy frameworks (AngularJS) as needed.</p>

	<p>As we are in the educational industry, presentation of our content is very important. Cross-browser support is something we strive for. Our code sprawls across 5 different github repositories, we do standups every morning, frequent pair-programming, and ruthless code review. It is an encouraging, yet tough, environment that trains us all to be better developers.</p>

	<p>What I would bring with me is the breadth of my experience and knowledge, pride in my code and a relentless desire for excellence. I think the only thing on your list that I am not at least somewhat familiar with is PHP, which I'm admittedly very much a novice with. However, since you are looking for a front-end developer, I think my knowledge of Ruby on Rails would cover the gap - At the very least I'd know at a glance what I should or should not be messing with.</p>

	<p>Operating under the assumption that this is a full time position, my asking price would probably be in the realm of $83 per hour. This is of course entirely negotiable, depending both on the hours required and the estimated length of the contract.</p>

	<p>So, welcome! Have a look around. I've tried to keep many things brief, but I would certainly love to talk about them more in depth. I think you'll find that we would be very suited to working together on making something wonderful.</p>

	<p>Please get in touch with me with any questions you may have.</p>

	<p>Michael Pelletier</p>
	<p><a href="mailto:admin@mpelletier.net">admin@mpelletier.net</a></p>
	<p>978 866 9605</p>
</div>
