<div id="content" class="portfolio" ng:controller="portfolioCtrl">
	


	<div class="portfolio-item" ng-repeat="project in projects">
		<div class="portfolio-outer"></div>
		<div class="portfolio-inner">
			<div class="portfolio-snippet">
				{{project.name}}
				{{project.role}}
			</div>
			<div class="portfolio-image">
				<img ng-src='{{project.image}}' ng-class="project.abrv">
			</div>
		</div>
	</div>





	<div class="row">

		<div class="portfolio-item">
			<div class="portfolio-outer"></div>
			<div class="portfolio-inner">
				<div class="portfolio-image">
					<img src="images/thumb-kate.png">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="portfolio-item">
			<div class="portfolio-outer"></div>
			<div class="portfolio-inner">
				<div class="portfolio-image">
					<img src="images/thumb-kate.png">
				</div>
			</div>
		</div>
		<div class="portfolio-item">
			<div class="portfolio-outer"></div>
			<div class="portfolio-inner">
				<div class="portfolio-image">
					<img src="images/thumb-kate.png">
				</div>
			</div>
		</div>
		<div class="portfolio-item">
			<div class="portfolio-outer"></div>
			<div class="portfolio-inner">
				<div class="portfolio-image">
					<img src="images/thumb-kate.png">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="portfolio-item">
			<div class="portfolio-outer"></div>
			<div class="portfolio-inner">
				<div class="portfolio-image">
					<img src="images/thumb-kate.png">
				</div>
			</div>
		</div>
		<div class="portfolio-item">
			<div class="portfolio-outer"></div>
			<div class="portfolio-inner">
				<div class="portfolio-image">
					<img src="images/thumb-kate.png">
				</div>
			</div>
		</div>
	</div>

</div>
